.logo{
    width: 50%;
}
.logoImage{
    width: 100%;
    padding: 3rem;
}
.us{
    font-size: 4rem;
    z-index: 1;
}
.ptD{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    height: 100%;
}