.page {
  width: 100%;
  height: 100vh;
  background: var(--primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  position: relative;
}

.logo {
  font-size: 3rem;
  color: var(--white);
}

.red {
  color: var(--primary);
  font-weight: bold;
}

/* Card de usuário */
.userCard {
  background: var(--white);
  width: 35rem;
  height: 6.5rem;
  border-radius: 0.8rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  position: relative;
  height: 10rem;
  width: 50rem;
  margin-top: 6rem;
  margin-right: 100rem;
}

.avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  transform: translateX(50%);
}

.username {
  font-size: 4rem;
  font-weight: 600;
  color: var(--black);
  margin-left: 5rem;
}

/* Pontuação */
.scoreBox {
  background: var(--black);
  color: var(--white);
  font-size: 4.2rem;
  margin-top: 18rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  gap: 1rem;
  width: 80rem;
  align-self: start;
  justify-content: end;
}

.scoreLabel {
  font-weight: 500rem;
}

.scoreValue {
  font-weight: 700rem;
  padding-right: 10rem;
}

/* Mensagem */
.message {
  margin-top: 5rem;
  color: var(--white);
  font-size: 7rem;
  margin-top: 10rem;
  display: flex;
  gap: 1rem;
  width: 80rem;
  align-self: start;
  margin-left: 30rem;
  font-weight: 400;
}

/* Parte inferior */
.bottomArea {
  width: 100%;
  display: flex;
  gap: 150rem;
  margin-top: 4rem;
}

.homeBtn {
  background: var(--black);
  border: none;
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.homeIcon {
  width: 3rem;
}

.retryBtn {
  background: var(--black);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  width: 15rem;
  height: 7rem;
  font-size: 2rem;
  margin-top: 20px
;
}

.home{
  height: 10rem;
  width: 10rem;
  background-color: var(--primary-dark);
  margin-left: 10rem;
}

.borda{
  background-color: var(--primary-dark);
  border: none;
}
