:root {
  --white: #F7F4F3;
  --black: #070707;
  --primary: #F03828;
  --primary-dark: #BA1B1D;
}

.page {
  width: 100%;
  height: 100vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.logo {
  font-size: 3rem;
  color: var(--white);
}

.red {
  color: var(--primary);
  font-weight: bold;
}

/* Card de usuário */
.userCard {
  background: #d9d9d9;
  width: 35rem;
  height: 6.5rem;
  border-radius: 0.8rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.username {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

/* Pontuação */
.scoreBox {
  background: var(--black);
  color: var(--white);
  padding: 0.8rem 2rem;
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
}

.scoreLabel {
  font-weight: 500;
}

.scoreValue {
  font-weight: 700;
}

/* Mensagem */
.message {
  margin-top: 5rem;
  font-size: 4rem;
  color: var(--white);
}

/* Parte inferior */
.bottomArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-top: auto;
}

.homeBtn {
  background: var(--black);
  border: none;
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.homeIcon {
  width: 3rem;
}

.retryBtn {
  background: var(--black);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
