*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
  font-size: 62.5%;
}

#root{
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  max-width: 100dvw;
}
body{
  overflow: hidden;
}