:root{
  --white: #F7F4F3;
  --black: #070707;
  --primary: #F03828;
  --primary-dark: #BA1B1D;
  --gray: #2F2A22;
  --light-gray: #d8d8d8;
  --gray: #554c43;
  --yellow:#F8C51D;
  --coco:#DE6937;
  --plata:#A1A1A1;
}
