.container {
  width: 100dvw;
  display: flex;
  height: 100%;
  background: var(--primary-dark);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.waitingCard {
  width: 73rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.playersList::-webkit-scrollbar{
  width: 1rem;
}
.playersList::-webkit-scrollbar-thumb{
  background-color: var(--primary);
}

.title {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  justify-content: center;
}

.playersList {
  max-height: 42rem;
  overflow-x: hidden;
  width: 100%;
  border: 1rem solid var(--primary);
  border-radius: 1rem; 
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  img {
    height: 5rem;
    margin-right: 1rem;
  }

  li {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-start;
    border-bottom: 1rem solid var(--primary);
  }

  li:last-child {
    border-bottom: none;
  }
}

.playersList img {
  height: 5rem;
  margin-right: 1rem;
}
.playerItem {
  display: flex;
  align-items: center;
  background: var(--primary-dark);
  padding: 1rem;
}

.playerName {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.playerCount {
  text-align: left;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--white);
  margin-top: 1rem;
}

.startBtn {
  background: var(--black);
  color: var(--white);
  border: none;
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.startBtn:hover {
  background: #1a1a1a;
  transform: translateY(-0.2rem);
}

.startBtn:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .waitingCard {
    width: 95%;
  }
}