.chooseLevel{
  background-color: var(--primary-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.levels{
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  >*{
    width: 73rem;
  }
}

.rect:hover{
  filter: brightness(1.2);
}
.alreadyPlayed:hover{
  filter: brightness(0.8);
}
.maximazed:hover{
  filter: brightness(1.5);
}

.alreadyPlayed{
  fill: var(--white)
}
.maximazed{
  fill: var(--primary);
  stroke: var(--white);
  color: var(--white);
}
text.maximazed{
  fill: var(--white);
}
.levelNumber{
  pointer-events: none;
}