.chooseWorlds{
  background-color: var(--primary-dark);
  width: 100%;
  height: 100%;
  padding: 5rem;
  position: relative;
  overflow: hidden;
}

.Worlds{
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  border-radius: 1.0rem;
  padding-left: 15.0rem;
  padding-right: 15.0rem;
}

.boxWorlds{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100%;
}