
.img{
    height: 3.3rem;
}
.container{
    overflow: hidden;
    width: 100dvw;
    max-width: 100dvw;
    height: 100%;
    max-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.else{
    margin-bottom: 7rem;
    color: var(--white);
    gap: 6rem;
    padding: 7rem;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20rem;
    width: 100%;
}
.login{
    z-index: 1;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;     
    height: 67%;
    width: 60%;
    border-radius: 1rem;
}
.ptU{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.title{
    color: var(--white);
    margin-top: 2rem;
    font-size: 4.8rem;
}
.input{
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 5rem;
    font-size: 2.4rem;
}
.validation{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}
.white{
    background-color: var(--white);
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
}
.google{
    display: flex;
    gap: 1rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    height: 5rem;
}
.link{
    color: var(--black);
    text-decoration: none;
}