.container{
    width: 100dvw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.else{
    margin-bottom: 7rem;
    color: white;
    gap: 2rem;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.login{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;     
    height: 83%;
    width: 60%;
    border-radius: 1rem;
}
.ptU{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ptD{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}
.title{
    color: white;
    margin-top: 2rem;
    font-size: 4.8rem;
}
.input{
    font-size: 2.4rem;
}
.validation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}