.WaitingAnswers{
  height: 100%;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 2rem;
  flex-direction: column;

  p{
    font-size: 4.8rem;
    
  }
}
.title{
  font-weight: bold;
  margin-bottom: 4rem;
}
.left{
  font-size: 12.8rem;
  font-weight: bold;

}