.home{
  background-color: var(--primary);
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.rank{
  background-color: var(--primary-dark);
  width: 48%;
  padding: 5rem;
}
.mainContent{
  width: 52%;
  padding: 5rem;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 4rem;
  margin: auto;
}
.options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
}
.options>*{
  width: 30rem !important;
}
.description{
  font-size: 3.6rem;
  color: var(--white);
  text-align: center;
}