:root {
  --white: #F7F4F3;
  --black: #070707;
  --primary: #F03828;
  --primary-dark: #BA1B1D;
  --gray: #2F2A22;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.topTab {
  background: var(--primary);
  height: 4.70rem;
  padding: 0.6rem 3rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 3rem;
  margin-left: 0; 
  margin-right: 140rem;
}

.card {
  width: 140rem;
  height: 70dvh;
  background: var(--primary);
  margin-top: 1rem;
  border-radius: 0.8rem;
  padding: 3rem; 
  display: flex;
  gap: 4rem;
  margin-left: 0;
  padding-bottom: 2rem;   
}

.leftArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice {
  width: 40rem;           
  height: 40rem;
}

.rightArea {
  flex: 1;
  color: var(--white);
  margin-top: 10rem;
}

.rightArea h2 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.row {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.5rem;
}


.checkboxArea {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.checkboxRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1.5rem 0 2rem 0;
  color: var(--white);
  font-size: 2.4rem;
}

.checkbox {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.divirta {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 3rem;
  color: var(--black);
}

.stake{
  border-bottom: 0.1rem solid var(--white);
  margin-bottom: 3rem;
}

.playBtn {
  width: 55%;
  margin: 0 auto;
  display: block;
  background: none;
  border: 0.15rem solid var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary-dark);
}

.playBtn:hover {
  background: var(--primary);
}
