.container {
  height: 100%;
  background: linear-gradient(to bottom right, #dc2626, #b91c1c);
  padding-top: 5rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.mainContent {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.titleBox {
  background-color: #ef4444;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.2rem;
  padding: 1.5rem 4rem;
  text-align: center;
}

.title {
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

.searchBar {
  background-color: #f3f4f6;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.2rem;
  padding: 1.2rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  display: flex;
  align-items: center;
  flex: 1;
}

.searchIcon {
  color: #dc2626;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
  color: #374151;
  font-size: 1.5rem;
}

.input::placeholder {
  color: #9ca3af;
}

.addButton {
  background-color: #ef4444;
  color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #dc2626;
}

.roomsList {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.roomItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  border-bottom: 0.1rem solid #e5e7eb;
  transition: background-color 0.2s;
}

.roomItem:last-child {
  border-bottom: none;
}

.roomItem:hover {
  background-color: #f9fafb;
  cursor: pointer;
}

.roomInfo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon {
  width: 1.9rem;
  height: 1.9rem;
  color: #4b5563;
  stroke-width: 0.2rem;
}

.roomName {
  color: #1f2937;
  font-weight: 500;
  font-size: 1.7rem;
}

.roomDetails {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.roomScore {
  color: #4b5563;
  font-weight: 500;
  font-size: 1.7rem;
}

.lockIcon {
  width: 1.9rem;
  height: 1.9rem;
  color: #4b5563;
  stroke-width: 0.2rem;
}

.playButtonContainer {
  display: flex;
  justify-content: center;
}

.playButton {
  background-color: #000;
  color: white;
  padding: 1.5rem 5rem;
  border-radius: 50rem;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.playButton:hover {
  background-color: #1f2937;
  transform: scale(1.05);
}