.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 10rem;
  background: var(--primary-dark);
}

.card {
  width: 50rem;
  height: 76rem;
  background: var(--white);
  border-radius: 1.125rem;
  padding: 2rem 2rem;
  text-align: center;
  color: var(--black);
}

.graph{
  width: 50rem;
  padding: 2rem;
  background-color: var(--white);
  height: 76rem;
  border-radius: 1rem;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.avatar {
  margin-top: 8rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 0.3rem solid var(--primary);
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: var(--black);
}

.username {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: var(--gray);
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  color: var(--black);
}

.stats div {
  text-align: center;
}

.puncctuation {
  font-size: 4rem;
  font-weight: bold;
  color: var(--black);
}

.span {
  font-size: 2rem;
}

.editButton {
  width: 70%;
  padding: 2rem;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
  font-size: 2rem;
  margin-top: 2rem;
  border: .5rem solid var(--primary-dark);
}
.logout{
  background-color: var(--primary-dark);
  border: .5rem solid var(--primary);
}

.editButton:hover {
  background: var(--primary-dark);
}
.logout:hover{
  background-color: var(--primary);
}
.editButton:disabled {
  filter: brightness(.7);
  cursor: unset;
}
