.worldsMenu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 55.0rem;
  background-color: transparent;
  padding: 4.0rem 0rem;
}

.worldsMenuItens {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.0rem;
  transition: background-color .5s;
}

.worldsMenuItens:hover {
  background-color: var(--primary);
}
