.wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selected {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .8rem;
  border: .1rem solid #aaa;
  border-radius: 1rem;
}

.list {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background: white;
  border: .1rem solid #aaa;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 18rem;
  overflow-y: auto;
  z-index: 10;
}

.item {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .8rem;
}

.item:hover {
  background: #eee;
}

.avatar {
  width: 3rem;
  height: 3rem;
}
