.styleSquare{
  position: absolute;
  z-index: 0;
}

.topLeft{
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
}
.topRight{
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}
.bottomLeft{
  bottom: 0;
  left: 0;
  transform: translate(-50%,50%);
}
.bottomRight{
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
}