.tables{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputGroup{
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  gap: .5rem;
  select{
    font-size: 1.6rem;
    padding: .5rem;
  }
}

.addButton{
  font-size: 2.1rem;
  height: auto;
  padding: 1.5rem;
}